<div class="container">
	<div class="img-container">
		<img src="" alt="">
	</div>


	<h1>Eat-Da-Burger!</h1>

	<div class="list-container">
		<div class="not-devoured-container">
			<h2>Not devoured</h2>
			<ul class="not-devoured">
				{{#each burger}}
					{{#unless devoured}}
						<li>{{this.burger_name}}</li> <button class="devour-btn" data-id="{{this.id}}">Devour</button>
					{{/unless}}
				{{/each}}
			</ul>
		</div>

		<div class="devoured-container">
			<h2>Devoured</h2>
			<ul class="devoured">
				{{#each burger}}
					{{#if devoured}}
						<li>{{this.burger_name}}</li>
					{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>

	<h2>Create burger</h2>
	<form id="newBurger">
		<input type="text" name="burger" id="newBurger"></input>
		{{!-- <button type="submit">Save burger</button> --}}
	</form>

</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<script>

	$("#newBurger").keydown(async (ev) => {
		// when user hits enter
		if(ev.keyCode === 13) {
			const $currentTarget = $(ev.currentTarget);
			const currentValue = $currentTarget.val();

			console.log(currentValue);

			await $.ajax({
				url: "/api/burger/new",
				method: "POST",
				data: {
					burger: currentValue,
				}
			});

			location.reload();

		}
	});

	const delBtn = document.querySelectorAll(".devour-btn");

	for (i = 0; i < delBtn.length; i++) {
		delBtn[i].addEventListener("click", ev => {
			const id = ev.target.dataset.id;
			console.log(id);

			$.ajax({
				url: `/api/burger/${id}/devour`,
				method: "PUT",
				data: {
					id: id
				}
			})
		
			location.reload();

		});
	};

</script>
